<a href="https://colab.research.google.com/github/weisses1/swcolabfiles/blob/main/Linear_Regression_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LassoCV

In [2]:
path = r'https://raw.githubusercontent.com/ncrowder/python/refs/heads/main/data/cars.csv'
carsData = pd.read_csv(path)

Exercise 1:

In [3]:
numeric_cols = ["wheelbase","carlength","carwidth","carheight","curbweight","enginesize","boreratio","stroke","compressionratio","horsepower","peakrpm","citympg","highwaympg"]

In [4]:
catColumns = ['aspiration','doornumber','carbody','drivewheel']
dummies = pd.get_dummies(carsData[catColumns],drop_first=True)
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration_turbo   205 non-null    bool
 1   doornumber_two     205 non-null    bool
 2   carbody_hardtop    205 non-null    bool
 3   carbody_hatchback  205 non-null    bool
 4   carbody_sedan      205 non-null    bool
 5   carbody_wagon      205 non-null    bool
 6   drivewheel_fwd     205 non-null    bool
 7   drivewheel_rwd     205 non-null    bool
dtypes: bool(8)
memory usage: 1.7 KB

In [5]:
carsDummies = carsData.drop(columns=catColumns)
carsDummies = carsDummies.join(dummies)
carsDummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_ID             205 non-null    int64
 1   symboling          205 non-null    int64
 2   CarName            205 non-null    object
 3   fueltype           205 non-null    object
 4   enginelocation     205 non-null    object
 5   wheelbase          205 non-null    float64
 6   carlength          205 non-null    float64
 7   carwidth           205 non-null    float64
 8   carheight          205 non-null    float64
 9   curbweight         205 non-null    int64
 10  enginetype         205 non-null    object
 11  cylindernumber     205 non-null    object
 12  enginesize         205 non-null    int64
 13  fuelsystem         205 non-null    object
 14  boreratio          205 non-null    float64
 15  stroke             205 non-null    float64
 16  compressionratio   205 non-null    float64
 17  horsepower         205 non-null    int64
 18  peakrpm            205 non-null    int64
 19  citympg            205 non-null    int64
 20  highwaympg         205 non-null    int64
 21  price              205 non-null    float64
 22  aspiration_turbo   205 non-null    bool
 23  doornumber_two     205 non-null    bool
 24  carbody_hardtop    205 non-null    bool
 25  carbody_hatchback  205 non-null    bool
 26  carbody_sedan      205 non-null    bool
 27  carbody_wagon      205 non-null    bool
 28  drivewheel_fwd     205 non-null    bool
 29  drivewheel_rwd     205 non-null    bool
dtypes: bool(8), float64(8), int64(8), object(6)
memory usage: 37.0+ KB

In [6]:
scaler = StandardScaler()
numCols = ['wheelbase','carlength','carwidth','carheight','curbweight',
           'enginesize','boreratio','stroke','compressionratio','horsepower',
           'peakrpm','citympg','highwaympg']
carsDummies[numCols] = scaler.fit_transform(carsDummies[numCols])
carsDummies.head()

,car_ID,symboling,CarName,fueltype,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,highwaympg,price,aspiration_turbo,doornumber_two,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,drivewheel_fwd,drivewheel_rwd
0,1,3,alfa-romero giulia,gas,front,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,...,-0.546059,13495.0,False,True,False,False,False,False,False,True
1,2,3,alfa-romero stelvio,gas,front,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,...,-0.546059,16500.0,False,True,False,False,False,False,False,True
2,3,1,alfa-romero Quadrifoglio,gas,front,-0.708596,-0.231513,-0.190566,-0.543527,0.514882,...,-0.691627,16500.0,False,True,False,True,False,False,False,True
3,4,2,audi 100 ls,gas,front,0.173698,0.207256,0.136542,0.235942,-0.420797,...,-0.109354,13950.0,False,False,False,False,True,False,True,False
4,5,2,audi 100ls,gas,front,0.107110,0.207256,0.230001,0.235942,0.516807,...,-1.273900,17450.0,False,False,False,False,True,False,False,False

In [7]:
carsDummies.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'enginelocation',
       'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight',
       'enginetype', 'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio',
       'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg',
       'highwaympg', 'price', 'aspiration_turbo', 'doornumber_two',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd'],
      dtype='object')

In [8]:
Cols= list(carsDummies.columns[:-9:-1])
Cols

['drivewheel_rwd',
 'drivewheel_fwd',
 'carbody_wagon',
 'carbody_sedan',
 'carbody_hatchback',
 'carbody_hardtop',
 'doornumber_two',
 'aspiration_turbo']

In [9]:
numCols

['wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']

In [10]:
Cols = Cols + numCols
Cols

['drivewheel_rwd',
 'drivewheel_fwd',
 'carbody_wagon',
 'carbody_sedan',
 'carbody_hatchback',
 'carbody_hardtop',
 'doornumber_two',
 'aspiration_turbo',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']

In [11]:
Cols.append("price")
carsDummies[Cols].corr()[['price']].sort_values(by='price', ascending=False)

                      price
price              1.000000
enginesize         0.874145
curbweight         0.835305
horsepower         0.808139
carwidth           0.759325
carlength          0.682920
drivewheel_rwd     0.638957
wheelbase          0.577816
boreratio          0.553173
carbody_hardtop    0.225854
aspiration_turbo   0.177926
carbody_sedan      0.125716
carheight          0.119336
stroke             0.079443
compressionratio   0.067984
doornumber_two    -0.031835
carbody_wagon     -0.042310
peakrpm           -0.085267
carbody_hatchback -0.262039
drivewheel_fwd    -0.601950
citympg           -0.685751
highwaympg        -0.697599

In [12]:
carsTrain, carsTest = train_test_split(carsDummies, test_size=0.2,
    random_state=20)

In [13]:
model = LinearRegression()
xCols = ['drivewheel_rwd',
 'drivewheel_fwd',
 'carbody_wagon',
 'carbody_sedan',
 'carbody_hatchback',
 'carbody_hardtop',
 'doornumber_two',
 'aspiration_turbo',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg']
model.fit(carsTrain[xCols], carsTrain['price'])
model.score(carsTest[xCols], carsTest['price'])

0.7737122835618844

In [14]:
model.score(carsTrain[xCols], carsTrain['price'])

0.8778455360116013

In [15]:
y_predicted = model.predict(carsTest[xCols])

In [16]:
predicted = pd.DataFrame(y_predicted, columns=['predictedPrice'])

final = predicted.join([carsTest[xCols].reset_index(drop=True),
                        carsTest['price'].reset_index(drop=True)])

final[['price','predictedPrice']].tail(1)

     price  predictedPrice
40  9495.0     9456.008673

In [17]:
final['price'].iloc[-1] - final['predictedPrice'].iloc[-1]

np.float64(38.99132730134079)

Exercise 2:

In [18]:
carsDummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_ID             205 non-null    int64
 1   symboling          205 non-null    int64
 2   CarName            205 non-null    object
 3   fueltype           205 non-null    object
 4   enginelocation     205 non-null    object
 5   wheelbase          205 non-null    float64
 6   carlength          205 non-null    float64
 7   carwidth           205 non-null    float64
 8   carheight          205 non-null    float64
 9   curbweight         205 non-null    float64
 10  enginetype         205 non-null    object
 11  cylindernumber     205 non-null    object
 12  enginesize         205 non-null    float64
 13  fuelsystem         205 non-null    object
 14  boreratio          205 non-null    float64
 15  stroke             205 non-null    float64
 16  compressionratio   205 non-null    float64
 17  horsepower         205 non-null    float64
 18  peakrpm            205 non-null    float64
 19  citympg            205 non-null    float64
 20  highwaympg         205 non-null    float64
 21  price              205 non-null    float64
 22  aspiration_turbo   205 non-null    bool
 23  doornumber_two     205 non-null    bool
 24  carbody_hardtop    205 non-null    bool
 25  carbody_hatchback  205 non-null    bool
 26  carbody_sedan      205 non-null    bool
 27  carbody_wagon      205 non-null    bool
 28  drivewheel_fwd     205 non-null    bool
 29  drivewheel_rwd     205 non-null    bool
dtypes: bool(8), float64(14), int64(2), object(6)
memory usage: 37.0+ KB

In [19]:
encode = ['aspiration_turbo','doornumber_two','carbody_hardtop','carbody_hatchback','carbody_sedan','carbody_wagon','drivewheel_fwd','drivewheel_rwd','fueltype', 'enginelocation', 'enginetype',
                  'cylindernumber', 'fuelsystem']

In [20]:
carsDummies = pd.get_dummies(carsDummies, columns=encode, dtype=float, drop_first=True)

In [21]:
carsDummies = carsDummies.drop('CarName', axis=1)

In [22]:
carsDummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   car_ID                  205 non-null    int64
 1   symboling               205 non-null    int64
 2   wheelbase               205 non-null    float64
 3   carlength               205 non-null    float64
 4   carwidth                205 non-null    float64
 5   carheight               205 non-null    float64
 6   curbweight              205 non-null    float64
 7   enginesize              205 non-null    float64
 8   boreratio               205 non-null    float64
 9   stroke                  205 non-null    float64
 10  compressionratio        205 non-null    float64
 11  horsepower              205 non-null    float64
 12  peakrpm                 205 non-null    float64
 13  citympg                 205 non-null    float64
 14  highwaympg              205 non-null    float64
 15  price                   205 non-null    float64
 16  aspiration_turbo_True   205 non-null    float64
 17  doornumber_two_True     205 non-null    float64
 18  carbody_hardtop_True    205 non-null    float64
 19  carbody_hatchback_True  205 non-null    float64
 20  carbody_sedan_True      205 non-null    float64
 21  carbody_wagon_True      205 non-null    float64
 22  drivewheel_fwd_True     205 non-null    float64
 23  drivewheel_rwd_True     205 non-null    float64
 24  fueltype_gas            205 non-null    float64
 25  enginelocation_rear     205 non-null    float64
 26  enginetype_dohcv        205 non-null    float64
 27  enginetype_l            205 non-null    float64
 28  enginetype_ohc          205 non-null    float64
 29  enginetype_ohcf         205 non-null    float64
 30  enginetype_ohcv         205 non-null    float64
 31  enginetype_rotor        205 non-null    float64
 32  cylindernumber_five     205 non-null    float64
 33  cylindernumber_four     205 non-null    float64
 34  cylindernumber_six      205 non-null    float64
 35  cylindernumber_three    205 non-null    float64
 36  cylindernumber_twelve   205 non-null    float64
 37  cylindernumber_two      205 non-null    float64
 38  fuelsystem_2bbl         205 non-null    float64
 39  fuelsystem_4bbl         205 non-null    float64
 40  fuelsystem_idi          205 non-null    float64
 41  fuelsystem_mfi          205 non-null    float64
 42  fuelsystem_mpfi         205 non-null    float64
 43  fuelsystem_spdi         205 non-null    float64
 44  fuelsystem_spfi         205 non-null    float64
dtypes: float64(43), int64(2)
memory usage: 72.2 KB

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_df = pd.DataFrame()
vif_df["feature"] = carsDummies.columns
vif_df["VIF"] = [variance_inflation_factor(carsDummies.values, i) for i in range(carsDummies.shape[1])]

/usr/local/lib/python3.12/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

In [24]:
vif_df["feature"]

0                     car_ID
1                  symboling
2                  wheelbase
3                  carlength
4                   carwidth
5                  carheight
6                 curbweight
7                 enginesize
8                  boreratio
9                     stroke
10          compressionratio
11                horsepower
12                   peakrpm
13                   citympg
14                highwaympg
15                     price
16     aspiration_turbo_True
17       doornumber_two_True
18      carbody_hardtop_True
19    carbody_hatchback_True
20        carbody_sedan_True
21        carbody_wagon_True
22       drivewheel_fwd_True
23       drivewheel_rwd_True
24              fueltype_gas
25       enginelocation_rear
26          enginetype_dohcv
27              enginetype_l
28            enginetype_ohc
29           enginetype_ohcf
30           enginetype_ohcv
31          enginetype_rotor
32       cylindernumber_five
33       cylindernumber_four
34        cylindernumber_six
35      cylindernumber_three
36     cylindernumber_twelve
37        cylindernumber_two
38           fuelsystem_2bbl
39           fuelsystem_4bbl
40            fuelsystem_idi
41            fuelsystem_mfi
42           fuelsystem_mpfi
43           fuelsystem_spdi
44           fuelsystem_spfi
Name: feature, dtype: object

In [25]:
vif_df["VIF"]

0       2.284228
1       3.735898
2      14.363144
3      15.434848
4      11.887334
5       4.314421
6      35.758398
7      55.737199
8       8.016547
9       3.877961
10    190.383888
11     32.929387
12      3.975868
13     39.551353
14     36.832949
15     18.870453
16      5.110011
17      3.603804
18      3.120319
19     14.907992
20     19.121727
21     10.002579
22     11.155528
23     14.509011
24    596.993924
25      4.340359
26      4.566572
27      6.359535
28      7.557873
29      7.159970
30      4.430648
31           inf
32     17.678651
33     73.949854
34     22.503743
35      4.178210
36      4.092809
37           inf
38      7.737461
39      4.756777
40    240.061135
41      1.401383
42     11.967450
43      3.731425
44      1.298538
Name: VIF, dtype: float64

In [26]:
over_5 = vif_df.loc[vif_df['VIF'] > 5, 'feature']
over_5

2                  wheelbase
3                  carlength
4                   carwidth
6                 curbweight
7                 enginesize
8                  boreratio
10          compressionratio
11                horsepower
13                   citympg
14                highwaympg
15                     price
16     aspiration_turbo_True
19    carbody_hatchback_True
20        carbody_sedan_True
21        carbody_wagon_True
22       drivewheel_fwd_True
23       drivewheel_rwd_True
24              fueltype_gas
27              enginetype_l
28            enginetype_ohc
29           enginetype_ohcf
31          enginetype_rotor
32       cylindernumber_five
33       cylindernumber_four
34        cylindernumber_six
37        cylindernumber_two
38           fuelsystem_2bbl
40            fuelsystem_idi
42           fuelsystem_mpfi
Name: feature, dtype: object

In [27]:
over_10 = vif_df.loc[vif_df['VIF'] > 10, 'feature']
over_10

2                  wheelbase
3                  carlength
4                   carwidth
6                 curbweight
7                 enginesize
10          compressionratio
11                horsepower
13                   citympg
14                highwaympg
15                     price
19    carbody_hatchback_True
20        carbody_sedan_True
21        carbody_wagon_True
22       drivewheel_fwd_True
23       drivewheel_rwd_True
24              fueltype_gas
31          enginetype_rotor
32       cylindernumber_five
33       cylindernumber_four
34        cylindernumber_six
37        cylindernumber_two
40            fuelsystem_idi
42           fuelsystem_mpfi
Name: feature, dtype: object

Exercise 3:

In [28]:
columns = ['horsepower', 'curbweight', 'enginesize', 'citympg', 'carwidth']

num = carsData[columns]

In [29]:
cat = carsData['fuelsystem']

In [30]:
x_dummies = pd.get_dummies(cat, drop_first=True)

In [31]:
x_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2bbl    205 non-null    bool
 1   4bbl    205 non-null    bool
 2   idi     205 non-null    bool
 3   mfi     205 non-null    bool
 4   mpfi    205 non-null    bool
 5   spdi    205 non-null    bool
 6   spfi    205 non-null    bool
dtypes: bool(7)
memory usage: 1.5 KB

In [32]:
x=pd.concat([num,x_dummies], axis=1)

In [33]:
y = carsData['price']

In [34]:
# Fit your model
model = LinearRegression().fit(x, y)


# Get R^2
r2 = model.score(x, y)


# n = number of rows, p = number of predictors
n = x.shape[0]
p = x.shape[1]


# Adjusted R^2
adj_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)


print("R^2:", r2)
print("Adjusted R^2:", adj_r2)

R^2: 0.8385027765746126
Adjusted R^2: 0.8284092001105259

In [35]:
columns.append('highwaymph')

In [36]:
columns

['horsepower', 'curbweight', 'enginesize', 'citympg', 'carwidth', 'highwaymph']

In [37]:
# Fit your model
model = LinearRegression().fit(x, y)


# Get R^2
r2 = model.score(x, y)


# n = number of rows, p = number of predictors
n = x.shape[0]
p = x.shape[1]


# Adjusted R^2
adj_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)


print("R^2:", r2)
print("Adjusted R^2:", adj_r2)

R^2: 0.8385027765746126
Adjusted R^2: 0.8284092001105259

Exercise 4:

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=20)

In [39]:
from sklearn.linear_model import LassoCV


# 1. Fit LassoCV
lasso = LassoCV(cv=5, random_state=0).fit(x, y)

# 2. Coefficients table
coef_table = pd.DataFrame({
"feature": x.columns,
"coef": lasso.coef_
})
print(coef_table)


# 3. Lists of selected and dropped features
selected = coef_table[coef_table["coef"] != 0]["feature"]
dropped  = coef_table[coef_table["coef"] == 0]["feature"]


print("Selected features:", list(selected))
print("Dropped features:", list(dropped))


# 4. Generate predictions
y_pred = lasso.predict(x_test)

       feature       coef
0   horsepower  46.091009
1   curbweight   4.753926
2   enginesize  79.692552
3      citympg   0.000000
4     carwidth   0.000000
5         2bbl  -0.000000
6         4bbl   0.000000
7          idi   0.000000
8          mfi  -0.000000
9         mpfi   0.000000
10        spdi  -0.000000
11        spfi  -0.000000
Selected features: ['horsepower', 'curbweight', 'enginesize']
Dropped features: ['citympg', 'carwidth', '2bbl', '4bbl', 'idi', 'mfi', 'mpfi', 'spdi', 'spfi']

In [40]:
y_pred

array([14041.60121418,  5522.86802873, 11189.37815219, 31668.82456769,
        5983.82869266,  9340.05202143,  5847.90734126, 12536.11224533,
       14775.38547209, 14039.44847055,  5689.25545438, 10121.4034763 ,
       18006.50679233,  6105.93378163,  8835.54407258,  5977.38755281,
       13804.44789444,  6338.87617754, 11266.40839367, 16739.92527841,
       11147.5602325 ,  7291.1584656 , 23178.2921353 , 22613.53100935,
       18318.82456389, 12844.14895817,  7575.2211121 , 10278.84789936,
       21917.47704026,  6348.62115366, 12045.01323423,  6102.67685383,
        7090.84727255, 10825.54944077,  8377.76945509, 10444.92944562,
       11427.00279612, 22192.50974907,  8842.81804071, 11236.84573823,
        8104.0311452 ])

In [42]:
row_x = x.iloc[99]
row_actual = y.iloc[99]
#y_pred_100 = y_pred[99]

In [43]:
row_x

horsepower       97
curbweight     2324
enginesize      120
citympg          27
carwidth       65.2
2bbl           True
4bbl          False
idi           False
mfi           False
mpfi          False
spdi          False
spfi          False
Name: 99, dtype: object

In [44]:
row_actual

np.float64(8949.0)

In [ ]:
y_pred_100